/* You can add global styles to this file, and also import other style files */
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        color: #fff;
        background: rgb(10, 113, 182); 
    
}

